/* general */
body{
  background: url(../assets/main/bg.png);
  margin: 0;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: none;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* header */
#header{
  display: flex;
  justify-content: space-between;
}

#timeTracker{
  height: 115px;
  width: 115px;

  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;

  margin: 15px;
  color: black;
  font-size: x-large;
}

#backButton{
  height: 75px;
  width: 75px;

  z-index: 10;

  margin: 15px;
  background-color: blueviolet;
}

/* dialogue */
#spriteLeft{
  height: 600px;
  width: 300px;
  margin-right: 40px;

  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 9;

  background-size: cover;
}

#spriteRight{
  height: 600px;
  width: 300px;
  margin-left: 40px;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9;

  background-size: cover;
}

#dialogueBoxContainer{
  height: 180px;
  margin: 15px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;

  /* https://css-tricks.com/almanac/properties/p/position/ for reference */

  background-color: rgb(55, 54, 54);
}

#dialogueBox{
  height: 70%;
  background-color: rgb(95, 178, 113);
  display: flex;
  justify-content: center;
  font-size: larger;
}

#nextButtonContainer{
  height: 30%;
  background-color: rgb(44, 15, 124);
  display: flex;
  justify-content: end;
}

#nextButton{
  height: 100%;
  width: 50px;
  margin: 0 15px;
  z-index: 11;

  align-self: flex-end;

  background-color: rgb(188, 25, 25);
}

/* items */
#library{
  width: 545px;
  height: 454px;

  background: url(../assets/main/library.png);
  background-size: cover;

  position: absolute;
  top: 62px;
  left: 462px;
  z-index: 8;
}

#wardrobe{
  width: 74px;;
  height: 500px;

  background: url(../assets/main/wardrobe.png);
  background-size: cover;

  position: absolute;
  bottom: 100px;
  right: 0;
  z-index: 8;
}


#closet{
  width: 147px;
  height: 510px;

  background: url(../assets/main/closet.png);
  background-size: cover;

  position: absolute;
  top: 110px;
  left: 10px;
  z-index: 8;
}

#shoes{
  width: 715px;
  height: 333px;

  background: url(../assets/main/couch.png);
  background-size: cover;

  position: absolute;
  bottom: 0px;
  left: 375px;
  z-index: 8;
}

#numberPad{
  width: 296px;
  height: 375px;

  background-color: bisque;

  background: url(../assets/main/numberpad.png);
  background-size: cover;

  position: absolute;
  top: 70px;
  left: 120px;
  z-index: 8;
}

/* puzzles */
/* scenes */

/* library */
#libraryBigPicture{
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background: url(../assets/library/bg.png);
  background-size: cover;
}

#briefCase{
  height: 43px;
  width: 200px;

  position: absolute;
  bottom: 110px;
  left: 500px;

  background:url(../assets/library/briefcase.png);
  background-size: cover;
}

#briefCaseBigPicture{
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background: url(../assets/briefcase_closeUp/bg.png);
  background-size: cover;
}

#briefCaseDisplayNumberLeft{
  width: 173px;
  height: 48px;

  position: absolute;
  top: 300px;
  left: 340px;

  background: url(../assets/briefcase_closeUp/showNumberLeft.png);
  background-size: cover;
}

#briefCaseDisplayNumberRight{
  width: 163px;
  height: 41px;

  position: absolute;
  top: 290px;
  right: 280px;

  background: url(../assets/briefcase_closeUp/showNumberRight.png);
  background-size: cover;
}

#briefCaseClickNumberOne{
  width: 60px;
  height: 51px;

  position: absolute;
  top: 340px;
  left: 360px;

  background: url(../assets/briefcase_closeUp/squareOneLeft.png);
  background-size: cover;
}

#briefCaseClickNumberTwo{
  width: 60px;
  height: 50px;

  position: absolute;
  top: 338px;
  left: 409px;

  background: url(../assets/briefcase_closeUp/squareTwoLeft.png);
  background-size: cover;
}

#briefCaseClickNumberThree{
  width: 60px;
  height: 53px;

  position: absolute;
  top: 333px;
  left: 456px;

  background: url(../assets/briefcase_closeUp/squareThreeLeft.png);
  background-size: cover;
}

#briefCaseClickNumberFour{
  width: 60px;
  height: 64px;

  position: absolute;
  top: 325px;
  right: 370px;

  background: url(../assets/briefcase_closeUp/squareOneRight.png);
  background-size: cover;
}

#briefCaseClickNumberFive{
  width: 66px;
  height: 60px;

  position: absolute;
  top: 325px;
  right: 320px;

  background: url(../assets/briefcase_closeUp/squareTwoRight.png);
  background-size: cover;
}

#briefCaseClickNumberSix{
  width: 66px;
  height: 61px;

  position: absolute;
  top: 325px;
  right: 270px;

  background: url(../assets/briefcase_closeUp/squareThreeRight.png);
  background-size: cover;
}

#briefCaseOpenBigPicture{
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background:url(../assets/briefcase_closeUp/bg_open.png);
  background-size:contain;
}

#laptop{
  width: 710px;
  height: 251px;

  position: absolute;
  top: 470px;
  left: 360px;

  background:url(../assets/briefcase_closeUp/laptop.png);
  background-size:contain;
}

#LaptopOpenBigPicture{
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background:url(../assets/briefcase_closeUp/laptop_open.png);
  background-size:contain;
}

#keyboard{
  width: 725px;
  height: 257px;

  position: absolute;
  top: 465px;
  left: 355px;

  background:url(../assets/briefcase_closeUp/keyboard.png);
  background-size:contain;
}

/*  closet */
#closetBigPicture{
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background:url(../assets/closet/bg.png);
  background-size:contain;
}

#paperHalf_1{
  width: 60px;
  height: 26px;

  position: absolute;
  bottom: 90px;
  right: 600px;
  z-index: 8;

  background: url(../assets/closet/paperHalf.png);
  background-size: cover;
}

#paperHalf_1Full{
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background:url(../assets/inventory/paperHalf_1.png);
  background-size:contain;
}

#paperHalf_2Full{
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background:url(../assets/inventory/paperHalf_2.png);
  background-size:contain;
}

/* shoes */
#shoesBigPicture{
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background:url(../assets/couch/bg.png);
  background-size:cover;
}

#shoesCloseUp{
  height: 127px;
  width: 175px;

  position: absolute;
  top: 520px;
  left: 300px;
  z-index: 8;

  background:url(../assets/couch/shoes.png);
  background-size:cover;
}

#shoesBiggestPicture{
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background:url(../assets/shoes_closeUp/bg.png);
  background-size:cover;
}

#paperHalf_2{
  height: 87px;
  width: 118px;

  position: absolute;
  top: 550px;
  left: 300px;
  z-index: 8;

  background:url(../assets/shoes_closeUp/paperHalf.png);
  background-size:cover;
}

/* wardrobe */
#wardrobeBigPicture{
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background:url(../assets/wardrobe/bg.png);
  background-size:cover;
}

#box{
  height: 76px;
  width: 151px;

  position: absolute;
  top: 442px;
  left: 398px;
  z-index: 8;

  background:url(../assets/wardrobe/box.png);
  background-size:cover;
}

#boxBigPicture{
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background:url(../assets/box_closeUp/bg.png);
  background-size:cover;
}

#wardrobeDoor{
  height: 455px;
  width: 190px;

  position: absolute;
  top: 71px;
  left: 337px;


  background:url(../assets/wardrobe/door.png);
  background-size:cover;
}

#wardrobeDoorOpen{
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background:url(../assets/wardrobe/bg_open.png);
  background-size:cover;
}

#fingerprintsKit{
  height: 400px;
  width: 344px;

  position: absolute;
  top: 260px;
  left: 350px;


  background:url(../assets/box_closeUp/tools.png);
  background-size:cover;
}


/* numberPad */
#numberPadBigPicture{
  height: 100vh;
  margin: 0 15px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background:url(../assets/numberpad/bg.png);
  background-size:cover;
}

#numberPadCloseUp{
  height: 67px;
  width: 150px;

  position: absolute;
  top: 415px;
  right: 400px;
  z-index: 8;

  background:url(../assets/numberpad/display.png);
  background-size:cover;
}

#fingerprintReader{
  height: 120px;
  width: 106px;

  position: absolute;
  top: 490px;
  right: 470px;
  z-index: 8;

  background:url(../assets/numberpad/fingerprintReader.png);
  background-size:cover;
}

#losingScreen{
  height: 100vh;
  background-color: rgb(95, 33, 33);
  color: white;
}

#winningScreen{
  height: 100vh;
  background-color: rgb(39, 115, 208);
  color: black;
}

/* inventory */
#inventoryBox{
  height: 80px;
  width: 70%;
  margin: 15px auto;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;

  display: flex;

  background-color: white;
  border: 1px solid black;
}

#inventoryItem{
  height: 100%;
  width: 12.5%;

  border: 1px solid black;

  background-position: center;
  background-size: cover;
}

/* hide */
.hide{
  display: none !important;
}