/* general */
body{
  background: url(../assets/main/bg.png);
  margin: 0;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: none;
}

/* header */
#header{
  display: flex;
  justify-content: space-between;
}

#timeTracker{
  height: 115px;
  width: 115px;

  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;

  margin: 15px;
  background-color: blueviolet;
}

#backButton{
  height: 75px;
  width: 75px;

  z-index: 10;

  margin: 15px;
  background-color: blueviolet;
}

/* dialogue */
#spriteLeft{
  height: 600px;
  width: 300px;
  margin-right: 40px;

  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 9;

  background-size: cover;
}

#spriteRight{
  height: 600px;
  width: 300px;
  margin-left: 40px;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 9;

  background-size: cover;
}

#dialogueBoxContainer{
  height: 180px;
  margin: 15px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;

  /* https://css-tricks.com/almanac/properties/p/position/ for reference */

  background-color: rgb(55, 54, 54);
}

#dialogueBox{
  height: 70%;
  background-color: rgb(95, 178, 113);
  display: flex;
  justify-content: center;
  font-size: larger;
}

#nextButtonContainer{
  height: 30%;
  background-color: rgb(44, 15, 124);
  display: flex;
  justify-content: end;
}

#nextButton{
  height: 100%;
  width: 50px;
  margin: 0 15px;
  z-index: 11;

  align-self: flex-end;

  background-color: rgb(188, 25, 25);
}

/* items */
#library{
  width: 545px;
  height: 454px;

  background: url(../assets/main/library.png);
  background-size: cover;

  position: absolute;
  top: 62px;
  left: 462px;
  z-index: 8;
}

#wardrobe{
  width: 74px;;
  height: 500px;

  background: url(../assets/main/wardrobe.png);
  background-size: cover;

  position: absolute;
  bottom: 100px;
  right: 0;
  z-index: 8;
}


#closet{
  width: 147px;
  height: 510px;

  background: url(../assets/main/closet.png);
  background-size: cover;

  position: absolute;
  top: 110px;
  left: 10px;
  z-index: 8;
}

#shoes{
  width: 715px;
  height: 333px;

  background: url(../assets/main/couch.png);
  background-size: cover;

  position: absolute;
  bottom: 0px;
  left: 375px;
  z-index: 8;
}

#numberPad{
  width: 296px;
  height: 375px;

  background-color: bisque;

  background: url(../assets/main/numberpad.png);
  background-size: cover;

  position: absolute;
  top: 70px;
  left: 120px;
  z-index: 8;
}

/* puzzles */

/* inventory */
#inventoryBox{
  height: 80px;
  width: 70%;
  margin: 15px auto;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 6;

  display: flex;

  background-color: white;
  border: 1px solid black;
}

#inventoryItem{
  height: 100%;
  width: 12.5%;

  border: 1px solid black;

  background-position: center;
  background-size: cover;
}
/* scenes */

/* library */
#libraryBigPicture{
  height: 100vh;
  margin: 0 15px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background-color: brown;
}

#briefCase{
  height: 100px;
  width: 550px;

  position: absolute;
  bottom: 150px;
  left: 160px;

  background-color: rgb(73, 9, 9);
}

/*  closet */
#closetBigPicture{
  height: 100vh;
  margin: 0 15px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background-color: rgb(23, 37, 184);
}

#paperHalf_1{
  height: 30px;
  width: 100px;

  position: absolute;
  top: 550px;
  left: 300px;
  z-index: 8;

  background-color: rgb(153, 159, 170);
}

/* shoes */
#shoesBigPicture{
  height: 100vh;
  margin: 0 15px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background-color: rgb(237, 36, 147);
}

#paperHalf_2{
  height: 30px;
  width: 100px;

  position: absolute;
  top: 550px;
  left: 300px;
  z-index: 8;

  background-color: rgb(162, 132, 132);
}

/* wardrobe */
#wardrobeBigPicture{
  height: 100vh;
  margin: 0 15px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background-color: rgb(230, 106, 28);
}

#fingerprintsKit{
  height: 100px;
  width: 100px;

  position: absolute;
  top: 550px;
  left: 500px;
  z-index: 8;

  background-color: rgb(37, 18, 76);
}

/* hide */
.hide{
  display: none;
}